Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/config/
/configure
/libtool
/m4/
.deps
.libs
src/dontpanic
src/dontpanic.pc
*.la
*.lo
*.o
/stamp-h1
